In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("Sampiyonlar Ligi 55-16.csv")
df

,Stage,Round,Group,Date,Team 1,FT,HT,Team 2,∑FT,ET,P,Comments,Adj Date,Year,Home Team,Home Team Ctry,Away Team,Away Team Ctry,Home Goal Count,Away Goal Count
0,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),Inter Baku PIK › AZE (1),0-0,0-0,Rabotnicki › MKD (1),NaN,NaN,NaN,NaN,2008-07-15,2008,Inter Baku PIK,AZE,Rabotnicki,MKD,0,0
1,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),Anorthosis Famagusta › CYP (1),1-0,0-0,Pyunik › ARM (1),NaN,NaN,NaN,NaN,2008-07-15,2008,Anorthosis Famagusta,CYP,Pyunik,ARM,1,0
2,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),BATE Borisov › BLR (1),2-0,0-0,Valur Reykjavik › ISL (1),NaN,NaN,NaN,NaN,2008-07-15,2008,BATE Borisov,BLR,Valur Reykjavik,ISL,2,0
3,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),Tampere United › FIN (1),2-1,0-0,Buducnost › MNE (1),NaN,NaN,NaN,NaN,2008-07-15,2008,Tampere United,FIN,Buducnost,MNE,2,1
4,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),Dinamo Tirana › ALB (1),0-2,0-0,FK Modrica › BIH (1),NaN,NaN,NaN,NaN,2008-07-15,2008,Dinamo Tirana,ALB,FK Modrica,BIH,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6549,NaN,Semifinals | Leg 1,NaN,(Wed) 6 Apr 1983 (W14),Juventus › ITA (7),2-0,1-0,Widzew Lodz › POL (7),NaN,NaN,NaN,NaN,1983-04-06,1983,Juventus,ITA,Widzew Lodz,POL,2,0
6550,NaN,Semifinals | Leg 1,NaN,(Wed) 6 Apr 1983 (W14),Real Sociedad › ESP (7),1-1,0-0,Hamburger SV › GER (5),NaN,NaN,NaN,NaN,1983-04-06,1983,Real Sociedad,ESP,Hamburger SV,GER,1,1
6551,NaN,Semifinals | Leg 2,NaN,(Wed) 20 Apr 1983 (W16),Hamburger SV › GER (6),2-1,0-0,Real Sociedad › ESP (8),3-2 (agg.),NaN,NaN,NaN,1983-04-20,1983,Hamburger SV,GER,Real Sociedad,ESP,2,1
6552,NaN,Semifinals | Leg 2,NaN,(Wed) 20 Apr 1983 (W16),Widzew Lodz › POL (8),2-2,0-1,Juventus › ITA (8),2-4 (agg.),NaN,NaN,NaN,1983-04-20,1983,Widzew Lodz,POL,Juventus,ITA,2,2
6553,NaN,Final,NaN,(Wed) 25 May 1983 (W21),Hamburger SV › GER (7),1-0,0-0,Juventus › ITA (9),NaN,NaN,NaN,NaN,1983-05-25,1983,Hamburger SV,GER,Juventus,ITA,1,0

In [5]:
df.head()

,Stage,Round,Group,Date,Team 1,FT,HT,Team 2,∑FT,ET,P,Comments,Adj Date,Year,Home Team,Home Team Ctry,Away Team,Away Team Ctry,Home Goal Count,Away Goal Count
0,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),Inter Baku PIK › AZE (1),0-0,0-0,Rabotnicki › MKD (1),NaN,NaN,NaN,NaN,2008-07-15,2008,Inter Baku PIK,AZE,Rabotnicki,MKD,0,0
1,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),Anorthosis Famagusta › CYP (1),1-0,0-0,Pyunik › ARM (1),NaN,NaN,NaN,NaN,2008-07-15,2008,Anorthosis Famagusta,CYP,Pyunik,ARM,1,0
2,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),BATE Borisov › BLR (1),2-0,0-0,Valur Reykjavik › ISL (1),NaN,NaN,NaN,NaN,2008-07-15,2008,BATE Borisov,BLR,Valur Reykjavik,ISL,2,0
3,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),Tampere United › FIN (1),2-1,0-0,Buducnost › MNE (1),NaN,NaN,NaN,NaN,2008-07-15,2008,Tampere United,FIN,Buducnost,MNE,2,1
4,Qualifying,Qual. Round 1 | Leg 1,NaN,(Tue) 15 Jul 2008 (W28),Dinamo Tirana › ALB (1),0-2,0-0,FK Modrica › BIH (1),NaN,NaN,NaN,NaN,2008-07-15,2008,Dinamo Tirana,ALB,FK Modrica,BIH,0,2

In [7]:
final = df[["Year","Round","Team 1","Team 2","FT","ET","P"]]

In [8]:
final.head()

,Year,Round,Team 1,Team 2,FT,ET,P
0,2008,Qual. Round 1 | Leg 1,Inter Baku PIK › AZE (1),Rabotnicki › MKD (1),0-0,NaN,NaN
1,2008,Qual. Round 1 | Leg 1,Anorthosis Famagusta › CYP (1),Pyunik › ARM (1),1-0,NaN,NaN
2,2008,Qual. Round 1 | Leg 1,BATE Borisov › BLR (1),Valur Reykjavik › ISL (1),2-0,NaN,NaN
3,2008,Qual. Round 1 | Leg 1,Tampere United › FIN (1),Buducnost › MNE (1),2-1,NaN,NaN
4,2008,Qual. Round 1 | Leg 1,Dinamo Tirana › ALB (1),FK Modrica › BIH (1),0-2,NaN,NaN

In [10]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6554 entries, 0 to 6553
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    6554 non-null   int64
 1   Round   6554 non-null   object
 2   Team 1  6554 non-null   object
 3   Team 2  6554 non-null   object
 4   FT      6554 non-null   object
 5   ET      128 non-null    object
 6   P       56 non-null     object
dtypes: int64(1), object(6)
memory usage: 358.5+ KB

In [16]:
final.sort_values("Year",inplace = True)

In [17]:
final

,Year,Round,Team 1,Team 2,FT,ET,P
2992,1955,Round 1 | Leg 2,1. FC Saarbrücken › GER (2),AC Milan › ITA (2),1-4,NaN,NaN
2995,1955,Quarterfinals | Leg 1,Stade Reims › FRA (3),Budapesti Voros Lobogo › HUN (3),4-2,NaN,NaN
2996,1955,Quarterfinals | Leg 1,Real Madrid CF › ESP (3),Partizan Belgrade › SRB (3),4-0,NaN,NaN
2994,1955,Quarterfinals | Leg 2,Hibernian FC › SCO (4),Djurgardens IF › SWE (4),1-0,NaN,NaN
2977,1955,Round 1 | Leg 1,Sporting CP › POR (1),Partizan Belgrade › SRB (1),3-3,NaN,NaN
...,...,...,...,...,...,...,...
4503,2016,Quarterfinals | Leg 1,Paris Saint-Germain › FRA (9),Manchester City FC › ENG (9),2-2,NaN,NaN
4501,2016,Quarterfinals | Leg 1,FC Barcelona › ESP (9),Atletico Madrid › ESP (9),2-1,NaN,NaN
4498,2016,Round of 16 | Leg 2,Manchester City FC › ENG (8),Dinamo Kiev › UKR (8),0-0,NaN,NaN
4486,2016,Round of 16 | Leg 1,SL Benfica › POR (7),Zenit St. Petersburg › RUS (7),1-0,NaN,NaN
4512,2016,Semifinals | Leg 2,Real Madrid CF › ESP (12),Manchester City FC › ENG (12),1-0,NaN,NaN

In [25]:
final["Round"].unique()

array(['Round 1 | Leg 2', 'Quarterfinals | Leg 1',
       'Quarterfinals | Leg 2', 'Round 1 | Leg 1', 'Round of 16 | Replay',
       'Round of 16 | Leg 2', 'Round of 16 | Leg 1', 'Final',
       'Semifinals | Leg 2', 'Semifinals | Leg 1', 'Round 1 | Replay',
       'Quarterfinals | Replay', 'Semifinals | Replay',
       'Prelim. Round | Leg 2', 'Prelim. Round | Leg 1', 'Final | Replay',
       'Round 2 | Leg 2', 'Matchday ?', 'Round 2 | Leg 1', 'Semifinals',
       'Qual. Round 1 | Leg 1', 'Qual. Round 1 | Leg 2',
       'Qual. Round 2 | Leg 2', 'Qual. Round 2 | Leg 1',
       'Qual. Round 3 | Leg 1', 'Qual. Round 3 | Leg 2',
       'Playoff Round | Leg 2', 'Playoff Round | Leg 1'], dtype=object)

In [29]:
final = final[final["Round"].str.contains("Final")]
final

,Year,Round,Team 1,Team 2,FT,ET,P
3005,1956,Final,Real Madrid CF › ESP (7),Stade Reims › FRA (7),4-3,NaN,NaN
3469,1957,Final,Real Madrid CF › ESP (8),ACF Fiorentina › ITA (7),2-0,NaN,NaN
5402,1958,Final,Real Madrid CF › ESP (7),AC Milan › ITA (10),2-2 (*),3-2 (a.e.t.),NaN
5837,1959,Final,Real Madrid CF › ESP (8),Stade Reims › FRA (9),2-0,NaN,NaN
1641,1960,Final,Real Madrid CF › ESP (7),Frankfurter SG Eintracht › GER (7),7-3,NaN,NaN
...,...,...,...,...,...,...,...
3425,2012,Final,Chelsea FC › ENG (13),Bayern München › GER (15),1-1 (*),1-1 (a.e.t.),4-3 (pen.)
1931,2013,Final,Bayern München › GER (13),Borussia Dortmund › GER (13),2-1,NaN,NaN
6288,2014,Final,Real Madrid CF › ESP (13),Atletico Madrid › ESP (13),1-1 (*),4-1 (a.e.t.),NaN
664,2015,Final,FC Barcelona › ESP (13),Juventus › ITA (13),3-1,NaN,NaN
4513,2016,Final,Real Madrid CF › ESP (13),Atletico Madrid › ESP (13),1-1 (*),1-1 (a.e.t.),5-3 (pen.)

In [34]:
final["Round"].unique()

array(['Final', 'Final | Replay'], dtype=object)

In [41]:
final["Team 1"] = final["Team 1"].str.split(" › ").str[0]

In [42]:
final["Team 2"] = final["Team 2"].str.split(" › ").str[0]

In [43]:
final

,Year,Round,Team 1,Team 2,FT,ET,P
3005,1956,Final,Real Madrid CF,Stade Reims,4-3,NaN,NaN
3469,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,NaN,NaN
5402,1958,Final,Real Madrid CF,AC Milan,2-2 (*),3-2 (a.e.t.),NaN
5837,1959,Final,Real Madrid CF,Stade Reims,2-0,NaN,NaN
1641,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,NaN,NaN
...,...,...,...,...,...,...,...
3425,2012,Final,Chelsea FC,Bayern München,1-1 (*),1-1 (a.e.t.),4-3 (pen.)
1931,2013,Final,Bayern München,Borussia Dortmund,2-1,NaN,NaN
6288,2014,Final,Real Madrid CF,Atletico Madrid,1-1 (*),4-1 (a.e.t.),NaN
664,2015,Final,FC Barcelona,Juventus,3-1,NaN,NaN
4513,2016,Final,Real Madrid CF,Atletico Madrid,1-1 (*),1-1 (a.e.t.),5-3 (pen.)

In [45]:
final["FT"] = final["FT"].str.strip(" (*)")

In [46]:
final.head()

,Year,Round,Team 1,Team 2,FT,ET,P
3005,1956,Final,Real Madrid CF,Stade Reims,4-3,NaN,NaN
3469,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,NaN,NaN
5402,1958,Final,Real Madrid CF,AC Milan,2-2,3-2 (a.e.t.),NaN
5837,1959,Final,Real Madrid CF,Stade Reims,2-0,NaN,NaN
1641,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,NaN,NaN

In [48]:
final["ET"].fillna("0-0",inplace = True)

In [49]:
final

,Year,Round,Team 1,Team 2,FT,ET,P
3005,1956,Final,Real Madrid CF,Stade Reims,4-3,0-0,NaN
3469,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,0-0,NaN
5402,1958,Final,Real Madrid CF,AC Milan,2-2,3-2 (a.e.t.),NaN
5837,1959,Final,Real Madrid CF,Stade Reims,2-0,0-0,NaN
1641,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,0-0,NaN
...,...,...,...,...,...,...,...
3425,2012,Final,Chelsea FC,Bayern München,1-1,1-1 (a.e.t.),4-3 (pen.)
1931,2013,Final,Bayern München,Borussia Dortmund,2-1,0-0,NaN
6288,2014,Final,Real Madrid CF,Atletico Madrid,1-1,4-1 (a.e.t.),NaN
664,2015,Final,FC Barcelona,Juventus,3-1,0-0,NaN
4513,2016,Final,Real Madrid CF,Atletico Madrid,1-1,1-1 (a.e.t.),5-3 (pen.)

In [51]:
final["ET"] = final["ET"].str.strip(" (a.e.t.)")

In [52]:
final

,Year,Round,Team 1,Team 2,FT,ET,P
3005,1956,Final,Real Madrid CF,Stade Reims,4-3,0-0,NaN
3469,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,0-0,NaN
5402,1958,Final,Real Madrid CF,AC Milan,2-2,3-2,NaN
5837,1959,Final,Real Madrid CF,Stade Reims,2-0,0-0,NaN
1641,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,0-0,NaN
...,...,...,...,...,...,...,...
3425,2012,Final,Chelsea FC,Bayern München,1-1,1-1,4-3 (pen.)
1931,2013,Final,Bayern München,Borussia Dortmund,2-1,0-0,NaN
6288,2014,Final,Real Madrid CF,Atletico Madrid,1-1,4-1,NaN
664,2015,Final,FC Barcelona,Juventus,3-1,0-0,NaN
4513,2016,Final,Real Madrid CF,Atletico Madrid,1-1,1-1,5-3 (pen.)

In [53]:
final["P"].fillna("0-0",inplace = True)

In [54]:
final

,Year,Round,Team 1,Team 2,FT,ET,P
3005,1956,Final,Real Madrid CF,Stade Reims,4-3,0-0,0-0
3469,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,0-0,0-0
5402,1958,Final,Real Madrid CF,AC Milan,2-2,3-2,0-0
5837,1959,Final,Real Madrid CF,Stade Reims,2-0,0-0,0-0
1641,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,0-0,0-0
...,...,...,...,...,...,...,...
3425,2012,Final,Chelsea FC,Bayern München,1-1,1-1,4-3 (pen.)
1931,2013,Final,Bayern München,Borussia Dortmund,2-1,0-0,0-0
6288,2014,Final,Real Madrid CF,Atletico Madrid,1-1,4-1,0-0
664,2015,Final,FC Barcelona,Juventus,3-1,0-0,0-0
4513,2016,Final,Real Madrid CF,Atletico Madrid,1-1,1-1,5-3 (pen.)

In [55]:
final["P"] = final["P"].str.strip(" (pen.)")

In [56]:
final

      Year  Round          Team 1                    Team 2   FT   ET    P
3005  1956  Final  Real Madrid CF               Stade Reims  4-3  0-0  0-0
3469  1957  Final  Real Madrid CF            ACF Fiorentina  2-0  0-0  0-0
5402  1958  Final  Real Madrid CF                  AC Milan  2-2  3-2  0-0
5837  1959  Final  Real Madrid CF               Stade Reims  2-0  0-0  0-0
1641  1960  Final  Real Madrid CF  Frankfurter SG Eintracht  7-3  0-0  0-0
...    ...    ...             ...                       ...  ...  ...  ...
3425  2012  Final      Chelsea FC            Bayern München  1-1  1-1  4-3
1931  2013  Final  Bayern München         Borussia Dortmund  2-1  0-0  0-0
6288  2014  Final  Real Madrid CF           Atletico Madrid  1-1  4-1  0-0
664   2015  Final    FC Barcelona                  Juventus  3-1  0-0  0-0
4513  2016  Final  Real Madrid CF           Atletico Madrid  1-1  1-1  5-3

[62 rows x 7 columns]

In [60]:
final.reset_index(drop = True,inplace = True)
final

    Year  Round          Team 1                    Team 2   FT   ET    P
0   1956  Final  Real Madrid CF               Stade Reims  4-3  0-0  0-0
1   1957  Final  Real Madrid CF            ACF Fiorentina  2-0  0-0  0-0
2   1958  Final  Real Madrid CF                  AC Milan  2-2  3-2  0-0
3   1959  Final  Real Madrid CF               Stade Reims  2-0  0-0  0-0
4   1960  Final  Real Madrid CF  Frankfurter SG Eintracht  7-3  0-0  0-0
..   ...    ...             ...                       ...  ...  ...  ...
57  2012  Final      Chelsea FC            Bayern München  1-1  1-1  4-3
58  2013  Final  Bayern München         Borussia Dortmund  2-1  0-0  0-0
59  2014  Final  Real Madrid CF           Atletico Madrid  1-1  4-1  0-0
60  2015  Final    FC Barcelona                  Juventus  3-1  0-0  0-0
61  2016  Final  Real Madrid CF           Atletico Madrid  1-1  1-1  5-3

[62 rows x 7 columns]

In [63]:
final["Team1FT"] = final["FT"].str.split("-").str[0]
final["Team2FT"] = final["FT"].str.split("-").str[1]
final["Team1ET"] = final["ET"].str.split("-").str[0]
final["Team2ET"] = final["ET"].str.split("-").str[1]
final["Team1P"] = final["P"].str.split("-").str[0]
final["Team2P"] = final["P"].str.split("-").str[1]
final

,Year,Round,Team 1,Team 2,FT,ET,P,Team1FT,Team2FT,Team1ET,Team2ET,Team1P,Team2P
0,1956,Final,Real Madrid CF,Stade Reims,4-3,0-0,0-0,4,3,0,0,0,0
1,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,0-0,0-0,2,0,0,0,0,0
2,1958,Final,Real Madrid CF,AC Milan,2-2,3-2,0-0,2,2,3,2,0,0
3,1959,Final,Real Madrid CF,Stade Reims,2-0,0-0,0-0,2,0,0,0,0,0
4,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,0-0,0-0,7,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2012,Final,Chelsea FC,Bayern München,1-1,1-1,4-3,1,1,1,1,4,3
58,2013,Final,Bayern München,Borussia Dortmund,2-1,0-0,0-0,2,1,0,0,0,0
59,2014,Final,Real Madrid CF,Atletico Madrid,1-1,4-1,0-0,1,1,4,1,0,0
60,2015,Final,FC Barcelona,Juventus,3-1,0-0,0-0,3,1,0,0,0,0
61,2016,Final,Real Madrid CF,Atletico Madrid,1-1,1-1,5-3,1,1,1,1,5,3

In [66]:
final[final["Round"].str.contains("Replay")]

,Year,Round,Team 1,Team 2,FT,ET,P,Team1FT,Team2FT,Team1ET,Team2ET,Team1P,Team2P
18,1974,Final | Replay,Bayern München,Atletico Madrid,4-0,0-0,0-0,4,0,0,0,0,0

In [67]:
final[final["Year"] == 1974]

,Year,Round,Team 1,Team 2,FT,ET,P,Team1FT,Team2FT,Team1ET,Team2ET,Team1P,Team2P
18,1974,Final | Replay,Bayern München,Atletico Madrid,4-0,0-0,0-0,4,0,0,0,0,0
19,1974,Final,Bayern München,Atletico Madrid,1-1,0-0,0-0,1,1,0,0,0,0

In [69]:
final["ET"][19] = final["FT"][18]

C:\Users\orhan\AppData\Local\Temp/ipykernel_54384/750469541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["ET"][19] = final["FT"][18]

In [70]:
final[final["Year"] == 1974]

,Year,Round,Team 1,Team 2,FT,ET,P,Team1FT,Team2FT,Team1ET,Team2ET,Team1P,Team2P
18,1974,Final | Replay,Bayern München,Atletico Madrid,4-0,0-0,0-0,4,0,0,0,0,0
19,1974,Final,Bayern München,Atletico Madrid,1-1,4-0,0-0,1,1,0,0,0,0

In [77]:
final.drop(index = 18,inplace = True)

In [79]:
final.reset_index(drop = True,inplace = True)

In [82]:
final.head()

,Year,Round,Team 1,Team 2,FT,ET,P,Team1FT,Team2FT,Team1ET,Team2ET,Team1P,Team2P
0,1956,Final,Real Madrid CF,Stade Reims,4-3,0-0,0-0,4,3,0,0,0,0
1,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,0-0,0-0,2,0,0,0,0,0
2,1958,Final,Real Madrid CF,AC Milan,2-2,3-2,0-0,2,2,3,2,0,0
3,1959,Final,Real Madrid CF,Stade Reims,2-0,0-0,0-0,2,0,0,0,0,0
4,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,0-0,0-0,7,3,0,0,0,0

In [87]:
final[["Team1FT","Team2FT","Team1ET","Team2ET","Team1P","Team2P"]] = final[["Team1FT","Team2FT","Team1ET","Team2ET","Team1P","Team2P"]].astype("int64")

In [90]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        61 non-null     int64
 1   Round       61 non-null     object
 2   Team 1      61 non-null     object
 3   Team 2      61 non-null     object
 4   FT          61 non-null     object
 5   ET          61 non-null     object
 6   P           61 non-null     object
 7   Team1FT     61 non-null     int64
 8   Team2FT     61 non-null     int64
 9   Team1ET     61 non-null     int64
 10  Team2ET     61 non-null     int64
 11  Team1P      61 non-null     int64
 12  Team2P      61 non-null     int64
 13  Team1Total  61 non-null     int64
dtypes: int64(8), object(6)
memory usage: 6.8+ KB

In [92]:
final["Team1Total"] = final["Team1FT"] + final["Team1ET"] + final["Team1P"]
final["Team2Total"] = final["Team2FT"] + final["Team2ET"] + final["Team2P"]
final["Averaj"] = final["Team1Total"] - final["Team2Total"]
final

,Year,Round,Team 1,Team 2,FT,ET,P,Team1FT,Team2FT,Team1ET,Team2ET,Team1P,Team2P,Team1Total,Team2Total,Averaj
0,1956,Final,Real Madrid CF,Stade Reims,4-3,0-0,0-0,4,3,0,0,0,0,4,3,1
1,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,0-0,0-0,2,0,0,0,0,0,2,0,2
2,1958,Final,Real Madrid CF,AC Milan,2-2,3-2,0-0,2,2,3,2,0,0,5,4,1
3,1959,Final,Real Madrid CF,Stade Reims,2-0,0-0,0-0,2,0,0,0,0,0,2,0,2
4,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,0-0,0-0,7,3,0,0,0,0,7,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2012,Final,Chelsea FC,Bayern München,1-1,1-1,4-3,1,1,1,1,4,3,6,5,1
57,2013,Final,Bayern München,Borussia Dortmund,2-1,0-0,0-0,2,1,0,0,0,0,2,1,1
58,2014,Final,Real Madrid CF,Atletico Madrid,1-1,4-1,0-0,1,1,4,1,0,0,5,2,3
59,2015,Final,FC Barcelona,Juventus,3-1,0-0,0-0,3,1,0,0,0,0,3,1,2
60,2016,Final,Real Madrid CF,Atletico Madrid,1-1,1-1,5-3,1,1,1,1,5,3,7,5,2

In [93]:
final.head()

,Year,Round,Team 1,Team 2,FT,ET,P,Team1FT,Team2FT,Team1ET,Team2ET,Team1P,Team2P,Team1Total,Team2Total,Averaj
0,1956,Final,Real Madrid CF,Stade Reims,4-3,0-0,0-0,4,3,0,0,0,0,4,3,1
1,1957,Final,Real Madrid CF,ACF Fiorentina,2-0,0-0,0-0,2,0,0,0,0,0,2,0,2
2,1958,Final,Real Madrid CF,AC Milan,2-2,3-2,0-0,2,2,3,2,0,0,5,4,1
3,1959,Final,Real Madrid CF,Stade Reims,2-0,0-0,0-0,2,0,0,0,0,0,2,0,2
4,1960,Final,Real Madrid CF,Frankfurter SG Eintracht,7-3,0-0,0-0,7,3,0,0,0,0,7,3,4

In [96]:
final = final[["Year","Team 1","Team 2","FT","ET","P","Averaj"]]
final

    Year          Team 1                    Team 2   FT   ET    P  Averaj
0   1956  Real Madrid CF               Stade Reims  4-3  0-0  0-0       1
1   1957  Real Madrid CF            ACF Fiorentina  2-0  0-0  0-0       2
2   1958  Real Madrid CF                  AC Milan  2-2  3-2  0-0       1
3   1959  Real Madrid CF               Stade Reims  2-0  0-0  0-0       2
4   1960  Real Madrid CF  Frankfurter SG Eintracht  7-3  0-0  0-0       4
..   ...             ...                       ...  ...  ...  ...     ...
56  2012      Chelsea FC            Bayern München  1-1  1-1  4-3       1
57  2013  Bayern München         Borussia Dortmund  2-1  0-0  0-0       1
58  2014  Real Madrid CF           Atletico Madrid  1-1  4-1  0-0       3
59  2015    FC Barcelona                  Juventus  3-1  0-0  0-0       2
60  2016  Real Madrid CF           Atletico Madrid  1-1  1-1  5-3       2

[61 rows x 7 columns]

In [100]:
final.loc[final['Averaj'] > 0, "Sampion"] = final["Team 1"]
final.loc[final['Averaj'] < 0, "Sampion"] = final["Team 2"]

In [101]:
final

,Year,Team 1,Team 2,FT,ET,P,Averaj,Sampion
0,1956,Real Madrid CF,Stade Reims,4-3,0-0,0-0,1,Real Madrid CF
1,1957,Real Madrid CF,ACF Fiorentina,2-0,0-0,0-0,2,Real Madrid CF
2,1958,Real Madrid CF,AC Milan,2-2,3-2,0-0,1,Real Madrid CF
3,1959,Real Madrid CF,Stade Reims,2-0,0-0,0-0,2,Real Madrid CF
4,1960,Real Madrid CF,Frankfurter SG Eintracht,7-3,0-0,0-0,4,Real Madrid CF
...,...,...,...,...,...,...,...,...
56,2012,Chelsea FC,Bayern München,1-1,1-1,4-3,1,Chelsea FC
57,2013,Bayern München,Borussia Dortmund,2-1,0-0,0-0,1,Bayern München
58,2014,Real Madrid CF,Atletico Madrid,1-1,4-1,0-0,3,Real Madrid CF
59,2015,FC Barcelona,Juventus,3-1,0-0,0-0,2,FC Barcelona
60,2016,Real Madrid CF,Atletico Madrid,1-1,1-1,5-3,2,Real Madrid CF

In [104]:
final["Sampion"].value_counts()

Real Madrid CF          11
AC Milan                 7
Liverpool FC             5
FC Barcelona             5
AFC Ajax                 4
Bayern München           4
Internazionale           3
Manchester United FC     3
Nottingham Forest FC     2
SL Benfica               2
Juventus                 2
FC Porto                 2
PSV Eindhoven            1
Borussia Dortmund        1
Olympique Marseille      1
Crvena Zvezda            1
Aston Villa FC           1
Steaua Bucuresti         1
Hamburger SV             1
Feyenoord Rotterdam      1
Celtic FC                1
Chelsea FC               1
Name: Sampion, dtype: int64

In [ ]:
pd.DataFrame(final["Sampion"].value_counts())